In [1]:
#conda install pandas
import pandas as pd

In [2]:
ls

'Create Database.ipynb'   Pandas.ipynb    'User Simulation.ipynb'
 main.py                  usercounter.db

In [3]:
import sqlite3
import pandas as pd
# Create your connection.
conn = sqlite3.connect('usercounter.db')

df = pd.read_sql_query("SELECT * FROM usercounter", conn)

In [5]:
df

                          date  username
0   2019-09-05T14:24:42.790458     wasit
1   2019-09-05T14:24:42.790458     wasit
2   2019-09-05T14:24:42.790458     wasit
3   2019-09-05T14:24:42.790458     wasit
4   2019-09-05T14:24:42.790458     wasit
5   2019-09-05T14:44:40.555254     wasit
6   2019-09-05T15:11:44.582167     wasit
7   2019-09-05T15:12:24.564568     david
8   2019-09-05T15:14:36.397494  einstien
9   2019-09-05T15:36:24.801170      name
10  2019-09-05T15:36:52.083177      name
11  2019-09-05T15:36:52.088165      name
12  2019-09-05T15:36:52.092900      name
13  2019-09-05T15:36:52.097144      name
14  2019-09-05T15:36:52.101884      name
15  2019-09-05T15:40:51.609284      name
16  2019-09-05T15:40:51.620181      name
17  2019-09-05T15:40:51.625387      name
18  2019-09-05T15:40:51.629794      name
19  2019-09-05T15:40:51.634296      name
20  2019-09-05T15:41:10.757753     David
21  2019-09-05T15:41:10.762856     David
22  2019-09-05T15:41:10.767073     David
23  2019-09-05T15:41:10.770721  Einstein
24  2019-09-05T15:41:10.774736     Wasit
25  2019-09-05T15:41:24.335623  Einstein
26  2019-09-05T15:41:28.348232     Wasit
27  2019-09-05T15:41:29.358677     David
28  2019-09-05T15:41:30.372176     Wasit
29  2019-09-05T15:41:31.380064  Einstein
30  2019-09-05T15:42:18.413418  Einstein
31  2019-09-05T15:42:20.423343     Wasit
32  2019-09-05T15:42:21.431008     David
33  2019-09-05T15:42:22.440542  Einstein
34  2019-09-05T15:42:25.454191     David
35  2019-09-05T15:42:28.469098     David