In [1]:
#conda install pandas
import pandas as pd

In [2]:
ls

'Create Database.ipynb'   Pandas.ipynb    'User Simulation.ipynb'
 main.py                  usercounter.db

In [3]:
import sqlite3
import pandas as pd
# Create your connection.
conn = sqlite3.connect('usercounter.db')

df = pd.read_sql_query("SELECT * FROM usercounter", conn)

In [4]:
df

                         date  username
0  2019-09-05T14:24:42.790458     wasit
1  2019-09-05T14:24:42.790458     wasit
2  2019-09-05T14:24:42.790458     wasit
3  2019-09-05T14:24:42.790458     wasit
4  2019-09-05T14:24:42.790458     wasit
5  2019-09-05T14:44:40.555254     wasit
6  2019-09-05T15:11:44.582167     wasit
7  2019-09-05T15:12:24.564568     david
8  2019-09-05T15:14:36.397494  einstien