* Q1 How many transactions in the dataset?
* Q2 What is the top-3 most expensive item in the database?
show the price of items.
* Q3 Show number of customers were born in each month.
there are 12 months
* Q4 Show top-3 popular items that make most income.
show the total income of each item.
* Q5 A manager want to crate a birth-month promotion in January 2017.
How many customers were born in January and also made transcations in January 2017?
* Q6 In January, what were the top-3 favorite items that customer bought with "Bread"?
show number of times

In [15]:
import sqlite3
import pandas as pd

con = sqlite3.connect('db.sqlite3')
df_customer = pd.read_sql_query("SELECT * from myapp_customer", con)
df_transaction = pd.read_sql_query("SELECT * from myapp_transaction", con)
df_record = pd.read_sql_query("SELECT * from myapp_record", con)
df_item = pd.read_sql_query("SELECT * from myapp_item", con)
con.close()
df.head()

   id  customer_id             datetime
0   1            1  2019-03-10 03:15:17
1   2            2  2019-03-10 03:16:14
2   3            1  2019-03-10 03:17:24
3   4           62  2016-10-30 10:08:41
4   5           95  2016-10-30 10:13:03

In [16]:
#Q1
df_transaction.count()

id             9531
customer_id    9531
datetime       9531
dtype: int64

In [21]:
#Q2
df_item.sort_values(by='price', ascending=False).head(3)

    id              name  price
31  32  My-5 Fruit Shoot    400
42  43         Empanadas    400
6    7               Jam    400