# Week01 Basic Python
* Variable, Data type
* Tuple, List, Dictionary
* If Else
* For loop

## Variable, Data Type

In [7]:
print( type(1), type(3.14159), type("Hello"))

<class 'int'> <class 'float'> <class 'str'>

In [25]:
x=8
x.to_bytes(2,'big')

b'\x00\x08'

In [34]:
x=3.1415932
x.as_integer_ratio()

(3537119491217421, 1125899906842624)

In [35]:
22/7

3.142857142857143

In [42]:
x='hello World! hello me!!'

In [43]:
x.count("hello")

2

In [46]:
x.split()

['hello', 'World!', 'hello', 'me!!']

In [47]:
x.lower()

'hello world! hello me!!'

In [48]:
x.upper()

'HELLO WORLD! HELLO ME!!'

In [49]:
x.isnumeric()

False

In [52]:
x="314259"

In [53]:
x.isnumeric()

True

# Tuple, List, Dictionary

In [55]:
x=(1,2,3)
type(x)

tuple

In [56]:
x=("Hello",1,2,3)
type(x)

tuple

In [59]:
x[0]

'Hello'

In [60]:
x[-1]

3

In [61]:
x[-4]

'Hello'

### List

In [62]:
x=["It's","a","good","day"]

In [64]:
type(x)

list

In [65]:
x[0]

"It's"

In [66]:
x[0]="That's"

In [67]:
x

["That's", 'a', 'good', 'day']

In [68]:
x.append("na ja")

In [69]:
x

["That's", 'a', 'good', 'day', 'na ja']

In [70]:
x.pop()

'na ja'

In [71]:
x

["That's", 'a', 'good', 'day']

In [72]:
x.pop(0)

"That's"

In [73]:
x

['a', 'good', 'day']

### Dictionary

In [75]:
x={'key':'value', 'cat':'a four leg animal'}
x

{'key': 'value', 'cat': 'a four leg animal'}

In [76]:
x['key']

'value'

In [77]:
x['cat']

'a four leg animal'

In [78]:
x['key']='This is my key'

In [79]:
x

{'key': 'This is my key', 'cat': 'a four leg animal'}

### If Else

In C language
```c
if ( x < 5){
    printf("less than 5");
}
else{
       if(10<x){
           printf("larger than 10");
       }
       else printf("in the range");
}
```

In [87]:
input_x=input("Please enter a number:")
x=int(input_x)
if x<5:
    print("Less than 5")
    print("Yo")
elif 10<x:
    print("larger than 10")
else:
    print("In the range")

Please enter a number: 1

Less than 5
Yo

### For loop

In [88]:
x="Is there a way to convert a string from uppercase, or even part uppercase to lowercase?"

In [89]:
x

'Is there a way to convert a string from uppercase, or even part uppercase to lowercase?'

In [90]:
x.split()

['Is',
 'there',
 'a',
 'way',
 'to',
 'convert',
 'a',
 'string',
 'from',
 'uppercase,',
 'or',
 'even',
 'part',
 'uppercase',
 'to',
 'lowercase?']

In [91]:
len(x.split())

16

In [97]:
y=0
for n,i in enumerate(x.split()):
    if n%2==0:
        print(i.upper())
    else:
        print(i)
    #y=y+1
print(y)

IS
there
A
way
TO
convert
A
string
FROM
uppercase,
OR
even
PART
uppercase
TO
lowercase?
0

In [98]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9