In [1]:
import sqlite3
import pandas as pd
con = sqlite3.connect('db.sqlite3')

In [25]:
df_car = pd.read_sql_query("SELECT * FROM appname_car",con,index_col ='id')
df_customer = pd.read_sql_query("SELECT * FROM appname_customer",con,index_col ='id')
df_rent = pd.read_sql(
    sql="SELECT * FROM appname_rent",
    con=con,
    parse_dates={
        'star': {'format': '%Y-%m-%d %H:%M:%S'},
        'stop': {'format': '%Y-%m-%d %H:%M:%S'}
    },
    index_col ='id'
)

In [26]:
df_rent.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 1 to 5
Data columns (total 5 columns):
cost           5 non-null int64
star           5 non-null datetime64[ns]
stop           5 non-null datetime64[ns]
car_id         5 non-null int64
customer_id    5 non-null int64
dtypes: datetime64[ns](2), int64(3)
memory usage: 240.0 bytes

In [28]:
type(df_rent.iloc[0][2])

pandas._libs.tslibs.timestamps.Timestamp

In [29]:
df_rent

,cost,star,stop,car_id,customer_id
id,,,,,
1,400,2019-10-20 08:46:42.302381,2019-10-20 08:46:42.302466,1,1
2,800,2019-10-20 08:46:54.145270,2019-10-20 08:46:54.145356,2,2
3,800,2019-10-20 08:47:08.757061,2019-10-20 08:47:08.757146,1,1
4,900,2019-10-20 08:47:19.075226,2019-10-20 08:47:19.075312,2,2
5,950,2019-10-20 08:47:31.431907,2019-10-20 08:47:31.431990,2,2