# Get by ID

In [35]:
Car.objects.get(id=1)

# Select all

In [5]:
q=Car.objects.all()

In [8]:
print(q.query)

SELECT "appname_car"."id", "appname_car"."brand", "appname_car"."model", "appname_car"."price" FROM "appname_car"

# Create a record

In [11]:
#create by function create()
q=Car.objects.create(brand='Toyota', model='Sienta', price=800000)

In [13]:
Car.objects.all()

In [20]:
#create by constructor
x=Car(brand='Toyota', model='Sienta2', price=800000)
x.save()

In [21]:
type(x)

appname.models.Car

In [22]:
Car.objects.all()

# Iteration

In [36]:
for i in Car.objects.all():
    print(i.id,i, i.price)

1 Toyota Vios 500000.00
2 Toyoya Camry 900000.00
3 Toyota Altis 800000.00
4 Toyota Vios 500000.00
5 Toyota Sienta 800000.00
6 Toyota Sienta2 800000.00

In [27]:
for i in Car.objects.filter(price=500000):
    print(i, i.price)

Toyota Vios 500000.00
Toyota Vios 500000.00

In [28]:
for i in Car.objects.filter(price__lt=800000):
    print(i, i.price)

Toyota Vios 500000.00
Toyota Vios 500000.00

In [29]:
for i in Car.objects.filter(price__lte=800000):
    print(i, i.price)

Toyota Vios 500000.00
Toyota Altis 800000.00
Toyota Vios 500000.00
Toyota Sienta 800000.00
Toyota Sienta2 800000.00

In [30]:
for i in Rent.objects.all():
    print(i)

In [31]:
Rent.objects.all()